services:
  - type: web
    name: dust-api
    runtime: node
    rootDir: backend
    buildCommand: npm install
    startCommand: node src/index.js
    envVars:
      - key: PORT
        value: 3000
      - key: NODE_ENV
        value: production
      - key: DUST_CONSOLIDATOR_ADDRESS
        value: 0xaAa64c47e45D845FB756eB386561c883F61F8777
      - key: ZERO_X_API_KEY
        sync: false
